# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Common files to ignore across all projects
.vscode/
node_modules/
*.log
*.user
*.suo
*.cache
bin/
obj/
*.dll
*.exe
*.pdb
*.userprefs
Thumbs.db
Desktop.ini
*.DS_Store

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# React Frontend specific rules
/frontend/build/
/frontend/node_modules/

# .NET WebAPI specific rules
/webapi/bin/
/webapi/obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# xUnit Test project specific rules
/tests/bin/
/tests/obj/
*.VisualState.xml
TestResult.xml
nunit-*.xml

