# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Common files to ignore across all projects
.idea/
mongo-data
mysql-data
.vs
.vscode/
node_modules/
*.log
*.cache
bin/
obj/
*.dll
*.exe
*.pdb
Thumbs.db
Desktop.ini
.DS_Store

# Editor specific files
.vscode/*
!.vscode/extensions.json
.idea
.ntvs*
.njsproj
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# React specific rules
/frontend/build/
/frontend/node_modules/

# .NET WebAPI specific rules
/FixFlow.Server/Migrations/
/FixFlow.Server/bin/
/FixFlow.Server/obj/
/FixFlow.Server/swagger.json
artifacts/

# xUnit Test project specific rules
/tests/bin/
/tests/obj/
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Flutter/Dart specific rules
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
build/
.android/
.ios/
/flow_app/lib/flow_api