.sidebar {
    height: 100%;
    width: 195px;
    position: fixed;
    top: 65px;
    left: 0;
    background-color: white;
    padding-left: 12px;
    padding-right: 10px;
}
  
.bar-item {
    background-color: white;
    border: 2px solid blue;;
    color: blue;
    padding: 10px;
    transition: background-color 0.25s, color 0.3s;
    width: 95%;
    text-align: left;
    display: block;
    margin-bottom: 13px;
  }
  
.bar-item:hover {
    background-color: blue;
    color: white;
    border: 2px solid white;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}