.actions {
    display: flex;
    background-color: var(--main-background-color);
    border-top: 1px solid #888888;
}

.action-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 12px;
    background-color: var(--main-background-color);
    color: green;
    cursor: pointer;
}
  
.action-button:hover {
    background-color: #999;
}