.form-group {
    margin: 20px;
}

.label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
    color: #333;
}
  
.input-field {
    width: 240px;
    height: 37px;
    margin: 12px;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}
  
.input-field::placeholder {
    color: #aaa;
}

.input-field:focus,
.input-field:hover {
    border-color: #bbb;
    outline: none;
}