.card {
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    background-color: white;
    border-radius: 13px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

.title {
    color: #333333;
    font-size: 27px;
    margin-bottom: 13px;
}

.line {
    height: 1px;
    background-color: #666;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: auto;
}

.item {
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    gap: 20px;
}
  
.expandables-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}