.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: yellow;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}  

.user-info {
    font-size: 17px;
    margin-right: 18px;
}

.logout-button {
    margin-left: 26px;
}